body{
    padding:0px;
    margin:0px;
    overflow:hidden;
}

.desktop{
    position: relative;
}

.hidden{
    display:none;
}

.menu{
    padding:10px 0px;
    margin:0px;
    border:1px solid white;
    background:black;
    color:white;
    position:absolute;
}

.menu li{
    list-style: none;
    margin:5px 0px;
    padding:5px;
}

.menu li:hover{
    color: orange;
}

.subMenu{
    display:none;
}

.changeBgSize:hover .subMenu{
    display:block;
    color:white;
}

.window{
    background: white;
    position: absolute;
    height: 250px;
    width : 450px;
    top : 200px;
    left: 200px;
    display:none;
}

.icons{
    padding: 10px 15px;
    background:black;
    width:100%;
    margin:0px;
    box-sizing:border-box;
    text-align:right;
    position:absolute;
}

.icon{
    color:white;
    margin-left:5px;
}

.icon:hover{
    color:orange;
} 

.folderAddIcon{
    position: absolute;
    top:10%;
    left:1%;
}

.clearfix{
    clear:both;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}
